@font-face{
  src               : url(../fonts/junction-regular.woff);
  font-family       : junction;
}

@-webkit-keyframes maincol {
    0%{background-color:rgb(123, 173, 247);}
    25%{background-color:rgb(247, 123, 234);}
	50%{background-color:rgb(50, 229, 50);}
	75%{background-color:rgb(255, 165, 40);}
    100%{background-color:rgb(123, 173, 247);}
}

@keyframes maincol{ 
    0%{background-color:rgb(123, 173, 247);}
    25%{background-color:rgb(247, 123, 234);}
	50%{background-color:rgb(50, 229, 50);}
	75%{background-color:rgb(255, 165, 40);}
    100%{background-color:rgb(123, 173, 247);}
}

@-webkit-keyframes wincol {
    0%{background-color:rgb(123, 173, 247);}
    100%{background-color:rgb(92, 134, 196);}
}

@keyframes wincol{ 
    0%{background-color:rgb(123, 173, 247);}
    50%{background-color:rgb(92, 134, 196);}
    100%{background-color:rgb(111, 237, 230);}
}
@-webkit-keyframes sprcol {
    0%{background-color:rgb(247, 123, 234);}
    50%{background-color:rgb(255, 76, 186);}
    100%{background-color:rgb(123, 173, 247);}
}

@keyframes sprcol{ 
    0%{background-color:rgb(247, 123, 234);}
    50%{background-color:rgb(255, 76, 186);}
    100%{background-color:rgb(198, 91, 187);}
}
@-webkit-keyframes sumcol {
    0%{background-color:rgb(50, 229, 50);}
	50%{background-color:rgb(44, 221, 8);}
	100%{background-color:rgb(41, 188, 41);}
}

@keyframes sumcol{ 
    0%{background-color:rgb(50, 229, 50);}
	50%{background-color:rgb(44, 221, 8);}
	100%{background-color:rgb(41, 188, 41);}
}
@-webkit-keyframes falcol {
    0%{background-color:rgb(255, 226, 40);}
	50%{background-color:rgb(255, 165, 40);}
	100%{background-color:rgb(255, 68, 40);}
}

@keyframes falcol{ 
    0%{background-color:rgb(255, 226, 40);}
	50%{background-color:rgb(255, 165, 40);}
	100%{background-color:rgb(255, 68, 40);}
}

html, body{
  color            : #3c3c3c;
  overflow-x       : hidden;
}


#logo{
	height:  100px; 	
	margin-bottom: 20px;
	-webkit-mask-image: url('../img/logo.png');
	mask-image: url('../img/logo.png');
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-size: cover;
	
}
#menu{
  position         : relative;
  margin           : auto;
  width            : 50%;
}

#menublock{
  position         : fixed;
  top              : 0px;
  width            : 100%;
  height           : 50px;
  padding-top      : 9px;
}

#winter{
	background-color:
}
#spring{
	background-color:
}

.menuitem{
  margin           : auto;
  height           : 35px;
  width            :  calc(20% - 16px);
  display          : inline-block;
  background-color : rgba(175, 168, 168, 0.1);
  text-decoration  : none;
  text-transform   : uppercase;
  transition       : all 0.5s;
  color            : white;
  text-align       : center;
  line-height      : 40px;
  border-radius    : 5px; 
}

.menuitem.menuitemmain{
  height           : 40px;
  width            :  calc(20% - 6px);
  font-size: 1.2em;
}

#header{
  display          : block;
  height           : 59px;
  width            : 100%;
}

#sidebar{
  padding          : 10px;
  display          : inline-block;
  height           : 100%;
  width            : calc(17% - 19.5px);
  background-color : rgba(213, 213, 213, 0.3);
  overflow         : hidden;
  position         : fixed;
  margin           : 0;
}

#main{
  padding          : 10px;
  padding-top:     : 50px;
  padding-bottom   : 50px;
  display          : inline-block;
  width            : calc(83% - 19px);
  background-color : rgba(213, 213, 213, 0.5);
  overflow         : hidden;
  margin-left      : calc(17%);
}

#footer{
  padding          : 10px;
  padding-bottom   : 40px;
  background-color : rgba(213, 213, 213, 0.8);
  margin-top       : -4px;
  z-index          :  -100;
}

#page{
  position         : absolute;
  left             : 0px;
  top              : 0px;
  height           : 100%;
  width            : 100%;
  font-family      : junction;
}

input[type=text] {
  margin           : 6px;
  padding          :5px; 
  border           :2px solid rgb(204, 204, 204);
  border-radius    : 5px;
}

input:focus {
  border-color     : rgb(175, 15, 157);
  outline          : none;
}

input[type=submit] {
  margin           : 6px;
  padding          : 5px 15px;
  background       : rgba(204, 204, 204, 1); 
  border           : 2px solid rgb(204, 204, 204);
  border-radius    : 5px; 
  cursor           : pointer;
  font-size        : 1em;
  
}

input[type=submit]:active{
  border-color     : rgb(175, 15, 157);
}

input[type=checkbox],input[type=radio]{
  width            : 1.5em;
  margin           : 0;
  padding          : 0;
  font-size        : 1em;
  opacity          : 0;
}

input[type=checkbox] + label,input[type=radio] + label{
  display          : inline-block;
  margin-left      : -2em;
  line-height      : 1.5em;
}

input[type=checkbox] + label > span,input[type=radio] + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.35em 0.5em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  vertical-align   : bottom;
}

input[type=checkbox]:checked + label > span:before{
  content          : "\2714";
  display          : block;
  width            : 1em;
  color            : rgb(175, 15, 157);
  font-size        : 0.875em;
  line-height      : 1em;
  text-align       : center;
  font-weight      : 900;
}

input[type=radio]:checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(102, 9, 91);
  border-radius    : 0.175em;
  background       : rgb(175, 15, 157)

}

.maincolor{
   background-color: rgb(123, 173, 247);
   -webkit-animation: maincol 40s ease infinite;
   animation: maincol 40s ease infinite;
}

.wintercolor{
   background-color: rgb(123, 173, 247);
   -webkit-animation: wincol 20s ease alternate infinite;
   animation: wincol 20s ease alternate infinite;
}

.springcolor{
   background-color:rgb(247, 123, 234);
   -webkit-animation: sprcol 20s ease alternate infinite;
   animation: sprcol 20s ease alternate infinite;
}

.summercolor{
   background-color:rgb(50, 229, 50);
   -webkit-animation: sumcol 20s ease alternate infinite;
   animation: sumcol 20s ease alternate infinite;
}

.fallcolor{
   background-color:rgb(255, 226, 40);
   -webkit-animation: falcol 20s ease alternate infinite;
   animation: falcol 20s  ease alternate infinite;
}

.thumbnail{
	float: left;
	border: 2px solid white ;
	outline: 1px solid gray;
	margin: 3px;
}

.link{
	text-decoration: none;
	color: rgb(175, 15, 157);
}

.link:hover{
	background-color: transparent;
	text-decoration: underline;
}

.menuitem:hover{
  background-color  : rgba(175, 15, 157, 0.5);
}
